mat-toolbar {
  display: flex;
  justify-content: space-between;
  background: white!important;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 12%);
  width: 80%;
  margin: 0 auto;

  a {
    text-decoration: none;
    &.active-link {
      color: white;
    }
    span {
      margin-left: 24px;
    }
  }
}
